<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Karin's French article test</title>
	<link rel="stylesheet" href="./static/style.css" />
	<link rel="icon" type="image/x-icon" href="./static/images/flag.png">
</head>

<body>

	<p><h3>Pour le deviner la sexe des noms français...</h3></p>

	<p1><h1>English: {{ English }}</h1></p>



	<script language="javascript">
		var x = {{ Article|tojson }}
		function feminine() {
			if ( x == 'la') {
				location.reload();
			}
		}
		function masculine() {
			if ( x == 'le') {
				location.reload();	
			}
		}
	</script>


	<button class='button_art' onClick="masculine()">Masculine</button>
	ou
	<button class='button_art' onClick="feminine()">Feminine</button>


	<p3><h1>French: {{ French }}</h1></p>



</body>
</html>