<!DOCTYPE html>
<html lang="français">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Karin's French article test</title>
	<link rel="stylesheet" href="./static/style.css" />
	<link rel="icon" type="image/x-icon" href="./static/images/flag.png">
	
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>

	<p><h3>Pour le deviner le sexe des substantifs en français...</h3></p>

	<p><h1>English: {{ English }}</h1></p>



	<script language="javascript">
		var x = {{ Article|tojson }}
		function feminine() {
			if ( x == 'la') {
				location.reload();
			}
		}
		function masculine() {
			if ( x == 'le') {
				location.reload();	
			}
		}
	</script>


	<button type="button" class="btn btn-light" onClick="masculine()">Masculine</button>
	ou
	<button type="button" class="btn btn-light" onClick="feminine()">Feminine</button>


	<p><h1>French: {{ French }}</h1></p>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>